name = "worker-assessment"
main = "src/index.ts"
compatibility_date = "2022-11-28"
node_compat=true

[env.dev]
name = "assessment-dev"

[env.dev.var]
ENVIRONMENT = "dev"

[env.staging]
name = "worker-assessment"
route = "https://stacked.com.ng/*"

[env.staging.var]
ENVIRONMENT = "staging"